<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
</head>
<body>
<a href="/board">list로 돌아가기</a>
<form method="post" action="/board/modify">

    <div>
        <label for="no" class="form-label">no </label>
        <input type="text" name="no" id="no"
              th:value="${board.no}" class="form-control"
               readonly/>
    </div>


    <div>
        <label for="title" class="form-label">타이틀 </label>
        <input type="text" name="title" id="title"
               th:value="${board.title}" class="form-control"
               readonly  />
    </div>
    <div>
        <label for="content" class="form-label">본문 </label>
        <input type="text" name="content" id="content"
               th:value="${board.content}" class="form-control"
              readonly />
    </div>
    <div>
        <label for="strong" class="form-label">중요게시물여부
        <input type="checkbox" name="strong" id="strong"
        th:checked="${board.strong eq true}" readonly/>
        </label>
    </div>
    <input type="hidden" name="nickName" th:value="${session.nickName}"/>
    <button type="submit"> 보내기</button>

</form>

</body>
</html>